// 自定义变量：只覆盖你需要的部分
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #c67600,
      // 修改主色为绿色
    ),
  ),
  $text-color: (
    'primary': #2a2b2d,
  ),
  $table: (
    'header-bg-color': #e1a03e,
    'header-text-color': #fff,
  )
);
